body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

/* ul {
    list-style-type: none;
    padding: 0;
} */
li {
    margin-bottom: 10px;
}

.mermaid {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* For desktop: */
body {
    max-width: 800px;
    margin: 0 auto;
    /* This will center the content if the screen size is larger than the max-width */
}

/* For mobile: */
@media only screen and (max-width: 600px) {
    body {
        max-width: 92%;
    }
}
/* Light mode styles */
body {
    background-color: white;
    color: black;
}

/* Dark mode styles */
/* @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
} */